.choose-account-type {
  display: flex;
  height: 100vh;

  .account-option {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f0f0f0;
    }

    .icon {
      font-size: 4rem;
    }

    h2 {
      margin-top: 1rem;
    }
  }

  .help {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000; // Assurez-vous que cela s'affiche par-dessus les autres éléments.

    .help-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #ddd;
      text-align: center;
      line-height: 30px;
      cursor: help;
    }

    .help-text {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      text-align: center;
    }

    .help-icon:hover + .help-text {
      display: block;
    }
  }
}
