.event {
  .event-container {
    display: flex;
    flex-direction: column;

    .event-top {
      padding: 0 25px 0 25px;
      border-radius: 25px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;
    }
    .event-bot {
      h2 {
        margin: 25px 0 0 25px;
      }
    }
  }
}
