.home-struct-ad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 250px); /* Réduit de la largeur de la sidebar */
  margin-left: 250px; /* Décalé de la largeur de la sidebar */

  .content {
    flex: 1;
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée globale */
    border-radius: 12px;
    background: white;

    /* Section du nom de la structure */
    .name {
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid 2px #2c3e50;
      background: #d7e8ff;
      border-radius: 12px;
      width: 100%;
      margin-bottom: 30px;
      padding: 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      h1 {
        margin: 0;
        color: #2c3e50;
        font-size: 28px;
        font-family: 'Arial', sans-serif;
      }
    }

    /* Conteneur pour aligner impact et sections événement */
    .impact-event-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;

      .impact-section,
      .event-section {
        flex: 1;
        margin-right: 20px; /* Espacement entre les deux sections */
        border: solid 2px #00796b; /* Couleur mise à jour */
        background: #e0f2f1; /* Couleur de fond mise à jour */
        border-radius: 12px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée */
        max-height: 48vh; /* Limite la hauteur à la moitié de la page */
        overflow-y: auto; /* Ajoute le défilement vertical */
        padding-top: 0px;

        .title {
          position: sticky; /* Titre sticky */
          top: 0;
          background-color: #e0f2f1; /* Fond collant */
          margin-bottom: 10px;
          padding: 0.5px;
          padding-left: 35%;
          border-bottom: solid 2px #00796b; /* Délimitation du titre */
          color: #004d40;
          font-family: 'Arial', sans-serif;
        }

        .event-list {
          overflow-y: hidden;
          ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
              margin-bottom: 10px;
              background: #f9f9f9; /* Couleur des lignes */
              padding: 10px;
              border-radius: 8px;
              cursor: pointer;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Légère ombre portée */

              &:hover {
                background: #e0e0e0; /* Survol */
              }

              .event-title {
                display: flex;
                justify-content: space-between;
                align-items: center; /* Assure l'alignement vertical */
                width: 100%; /* Utilise toute la largeur disponible */

                h3 {
                  margin: 0;
                  color: #2c3e50;
                }

                span {
                  color: #2c3e50;
                  font-weight: bold;
                }
              }

              .event-details {
                margin: 10px;

                padding: 10px;
              }
            }
          }
        }

        button {
          background-color: #004d40; /* Bouton assorti */
          color: white;
          border: none;
          padding: 10px 20px;
          border-radius: 8px;
          cursor: pointer;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre portée */
          font-family: 'Arial', sans-serif;

          &:hover {
            background-color: #00796b; /* Variation survol */
          }
        }
      }

      /* Retirer la marge pour la dernière section */
      .event-section {
        margin-right: 0;
      }
    }

    /* Liste des membres stylisée en bouton rond */
    .list-members {
      position: absolute;
      bottom: 20px;
      right: 20px;
      background-color: #1976d2;
      color: white;
      border: none;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      text-align: center;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre portée */

      h2 {
        margin: 0;
        font-size: 14px;
        text-align: center;
        padding: 5px;
        font-family: 'Arial', sans-serif;
      }

      &:hover {
        background-color: #1565c0;
      }
    }
  }
}
