.home-ad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 250px); // Adjusted for sidebar width
  margin-left: 250px; // Sidebar offset

  .content {
    flex: 1;
    width: 80%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background: white;

    .name {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;
      padding: 15px;
      border: solid 2px #2c3e50;
      background: #d7e8ff;
      border-radius: 12px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      position: relative;

      .profile-header {
        flex: 1;
        text-align: center;

        .profile-title {
          margin: 0 auto;
          color: #2c3e50;
          font-size: 28px;
          font-family: 'Arial', sans-serif;
        }

        .edit-profile-button {
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
          background-color: #004d40;
          color: white;
          border: none;
          padding: 10px 20px;
          border-radius: 8px;
          cursor: pointer;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

          &:hover {
            background-color: #00796b;
          }
        }
      }
    }

    .stat-badge {
      display: flex;
      flex-direction: column;
      align-items: center; // This ensures that the child sections are centered
      width: 100%;
      margin-bottom: 20px;

      .stat-section,
      .badges-section {
        width: 100%;
        margin-bottom: 20px;
        border: solid 2px #00796b;
        background: #e0f2f1;
        border-radius: 12px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow-y: auto;
        max-height: 40vh;

        .title {
          border: solid 2px #00796b;
          text-align: center;
          width: auto;
          padding: 0.5px;
          margin-bottom: 10px;
          color: #004d40;
          font-family: 'Arial', sans-serif;
        }
      }
    }
  }
}
