.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.chargement {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 24px;
  color: #555;
}

.profil {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

.profil-container {
  margin-bottom: 20px;
}

.profil-presentation p {
  font-size: 18px;
  color: #555;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.modal {
  width: 100%;
  max-width: 500px;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
  text-align: left;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: #333;
}

.closeBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.modalContent {
  margin-top: 10px;
}

label {
  display: block;
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.submitBtn {
  padding: 10px 20px;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitBtn:hover {
  background-color: #218838;
}

/* App.css or your main stylesheet */
.profile-header {
  display: grid; /* Use grid layout */
  grid-template-columns: 1fr auto; /* 1fr (title) + auto (button) */
  align-items: center; /* Align items vertically in the center */
  gap: 10px; /* Optional: space between elements */
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: none;
}

.profile-title {
  margin: 0; /* Removes default margin from h1 */
}

.edit-profile-button {
  padding: 8px 16px;
  background-color: #b5c9df;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-profile-button:hover {
  background-color: #eea57a;
}

.list-of-adherents-load {
  display: none;
visibility: hidden;
}