// Login.scss
.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f7f6;
    font-family: 'Arial', sans-serif;
  
    h1, h2 {
      color: #34495e;
    }
  
    #form {
      background: #ffffff;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 400px;
  
      label {
        display: block;
        margin: 0.5rem 0;
        color: #333;
      }
  
      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 0.75rem;
        margin-top: 0.25rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box; // S'assure que le padding n'affecte pas la largeur totale
      }

      .error-message {
        color: #e74c3c;
        margin: 0.5rem;
      }
  
      input[type="submit"] {
        background-color: #3498db;
        color: #ffffff;
        padding: 0.75rem 1.5rem;
        margin-top: 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #2980b9;
        }
      }

      .back-to-home {
        margin-top: 1rem;
        color: #3498db;
        cursor: pointer;
        transition: color 0.2s ease;
      
        &:hover {
          color: #2980b9;
        }
      }
      
    }
  }
  